{% extends 'base.html' %}

{% block title %} {{ block.super }} | Home {% endblock %}

{% block content %}
<div class="row">
  {% for poll in polls %}
  <div class="col s12 l10 offset-l1">
    <article class="card hoverable">
      <div class="card-content">
        <h4 class="card-title center-align orange-text">{{ poll.text }}</h4>
      </div>
      <div class="card-action">
        <a href="#" class="btn grey darken-3 waves-effect waves-light">
          Ir a encueta <i class="material-icons right">arrow_right</i>
        </a>
      </div>
    </article>
  </div>
  {% empty %}
  <div class="col s12 l10 offset-l1">
    <article class="card hoverable">
      <div class="card-content">
        <h4 class="card-title center-align orange-text">No hay encuestas abiertas.</h4>
      </div>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock content %}